/* Defualt CSS settings */
html {
    scroll-behavior: smooth;
}
* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
    color: white;
}
body {
    background-color: hsl(0, 0%, 0%);
}
/* Navigation CSS */
.NavigationBar {
    background-color: rgb(10, 10, 30);
    padding: 5px;
    margin: 20px;
    border-radius: 15px;
    position: sticky;   
    z-index: 1000;
    box-shadow: 0 0 30px rgb(0, 150, 255);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}
nav ul li a {
    margin: 0 10px;
    color: white;
    font-size: medium;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 15px;
}
nav ul li a:hover {
    text-decoration: underline;
    font-style: italic;
    text-shadow: 2px 2px 5px red, 2px 2px 0 black;
}
.NavSelected {
    border-bottom: 2px solid red;
    border-top: 2px solid red;
    background-color: rgba(55, 0, 0, 0.5);
}
.NavigationLogo {
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.LogoImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    object-fit: contain;
}
/* Section CSS */
section {
    min-height: 500px;
    margin: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgb(0, 150, 255);
    background-image: linear-gradient( 90deg, rgb(15, 0, 40), rgb(0, 30, 40));
}
Section div {
    background-color: black;
    box-shadow: 0px 0px 30px rgb(0, 150, 255);
    border-radius: 5px;
    padding: 10px;
    margin: 0 50px;
}
section div p {
    font-size: 20px;
}
/* Text Types CSS */
/* -> 1. Large Text */
.PageTitle {
    padding: 200px 0;
    text-align: center;
    text-shadow: 
        5px 5px 0 black,
        5px 5px 15px red    
    ;
    border-radius: 20px;
    margin: 50px;
    box-shadow: 0 0 30px rgb(0, 150, 255);
    background-image: linear-gradient(rgb(15, 0, 40), rgb(0, 30, 40));
}
.PageTitle::after {
    content: "◆";
    position: relative;
    right: -30px;
}
.PageTitle::before {
    content: "◆";
    position: relative;
    right: 30px;
}
/* -> 2. Medium Text */
.Section-Title {
    text-align: center;
    padding: 20px 0;
    border-radius: 10px;
    margin: 50px;
    text-shadow: 
        5px 5px 0 black,
        5px 5px 15px red    
    ;
}
.Section-Title::after {
    content: "◆";
    position: relative;
    right: -30px;
}
.Section-Title::before {
    content: "◆";
    position: relative;
    right: 30px;
}
.Heading {
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-style: Bold;
    text-shadow: 
        2px 2px 0 black,
        2px 2px 5px rgb(255, 255, 255);
}
.Heading-Blue {
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-style: italic;
    text-shadow: 
        4px 4px black,
        4px 4px 20px rgb(0, 150, 255);
}
.Heading-Red {
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-style: italic;
    text-shadow: 
        4px 4px black,
        4px 4px 20px rgb(255, 0, 0);
}
.Diamond {
    text-align: center;
    padding: 10px;
    margin: 0 10px;
}
/* -> 3. Paragraph Text */